/***************************
************Grid************
***************************/
.col-12-1 {
  width: 8.33333333%;
}
.col-12-2 {
  width: 16.66666667%;
}
.col-12-3 {
  width: 25%;
}
.col-12-4 {
  width: 33.33333333%;
}
.col-12-5 {
  width: 41.66666667%;
}
.col-12-6 {
  width: 50%;
}
.col-12-7 {
  width: 58.33333333%;
}
.col-12-8 {
  width: 66.66666667%;
}
.col-12-9 {
  width: 75%;
}
.col-12-10 {
  width: 83.33333333%;
}
.col-12-11 {
  width: 91.66666667%;
}
.col-12-12 {
  width: 100%;
}
.col-12-3.5 {
  width: 30 %;
}
.container {
  margin: 0 auto;
  width: 1140px;
}
.row [class^=col-] {
  display: inline-block;
  vertical-align: top;
  padding: 0 18px;
  font-size: 15px;
}
.row {
  margin: 0 -18px;
  font-size: 0;
}
/***************************
********Scafolding**********
***************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-element {
  background-color: #b3d4f9;
  min-height: 34px;
}
.margin_bottom {
  margin-bottom: 20px;
}
.int_background {
  background-color: #fff;
  min-height: 120px;
  padding: 10% 12%;
}
.js-message_link {
  color: #e86060;
  text-decoration: none;
}
.js-popup {
  padding: 3px;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 15px;
  background-color: #fc6e51;
  position: relative;
  cursor: pointer;
}
/*triangle*/
.js-popup::before {
  content: '';
  position: absolute;
  left: 45%;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fc6e51;
}
/***************************
********Typography**********
***************************/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
}
h1,
h2,
h3 {
  font-weight: normal;
  margin-bottom: 20px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 16px;
}
p {
  font-size: 15px;
  line-height: 22px;
}
a {
  color: #fc6e51;
}
a:hover {
  text-decoration: none;
}
.title {
  border-bottom: 1px solid #d8dadc;
  padding-bottom: 10px;
  margin-bottom: 25px;
  margin-top: 80px;
}
.title--first {
  margin-top: 20px;
  margin-bottom: 45px;
}
/***************************
************BTNS************
***************************/
.btn {
  position: relative;
  cursor: pointer;
  color: #fff;
  padding: 10px 40px;
  border-radius: 4px;
  border: none;
  margin-right: 20px;
  outline: none;
  background-color: #a0d468;
  box-shadow: 0 3px 0 0 #8bc152;
}
.btn:hover {
  background-color: #acda7c;
  box-shadow: 0 3px 0 0 #98c865;
}
.btn:active {
  top: 3px;
  box-shadow: none;
  background-color: #a0d468;
}
.btn:last-child {
  margin-right: 0;
}
.btn--small {
  padding: 5px 30px;
}
.btn--dark {
  background-color: #536167;
  box-shadow: 0 3px 0 0 #3b4549;
}
.btn--dark:hover {
  background-color: #5e6e75;
  box-shadow: 0 3px 0 0 #465257;
}
.btn--dark:active {
  box-shadow: none;
  background-color: #536167;
}
.btn--carrot {
  background-color: #fc6e51;
  box-shadow: 0 3px 0 0 #e3573b;
}
.btn--carrot:hover {
  background-color: #fc836a;
  box-shadow: 0 3px 0 0 #e66a51;
}
.btn--carrot:active {
  box-shadow: none;
  background-color: #fc6e51;
}
/***************************
************Images**********
***************************/
.img-container {
  max-width: 258px;
  max-height: 258px;
  border-radius: 5px;
  display: block;
  overflow: hidden;
  position: relative;
}
.zoom-image .blackout {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 5px;
  opacity: 0;
  left: 0;
  top: 0;
  transition: opacity 0.5s ease-out;
}
.zoom-image:after {
  content: '';
  position: absolute;
  background-image: url(../img/icon-zoom-plus.png);
  background-size: 100%;
  height: 36px;
  width: 35px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.zoom-image img {
  border-radius: 5px;
  transition: all 0.5s ease-out;
}
.zoom-image:hover .blackout {
  opacity: 0.5;
}
.zoom-image:hover img {
  transform: scale(1.1);
}
.img-container__tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  left: 0;
  bottom: -100px;
  color: #fff;
  transition: all 0.5s ease-out;
}
.img-container:hover .img-container__tooltip {
  bottom: 0;
}
.flip-container {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}
.flip-container:hover {
  transform: rotateY(180deg);
}
.flip-container__front,
.flip-container__back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.flip-container__front {
  z-index: 2;
}
.flip-container__back {
  background-color: #fff;
  border: 1px solid #cacaca;
  width: 258px;
  height: 258px;
  border-radius: 5px;
  transform: rotateY(180deg);
}
.flip-container__back p {
  margin-top: 95px;
  text-align: center;
}
/***************************
***BOOTSTRAP-TAGSINPUT******
***************************/
.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  min-width: 90%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #536167;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/***************************
*********Checkbox***********
***************************/
input[type="checkbox"],
input[type="radio"] {
  display: none;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  font: 16px bold;
  color: #444;
  cursor: pointer;
}
.checkbox_type_one + label::before,
.radio_type_one + label::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
  background-image: url(../img/checkbox/spritesheet.png);
  background-repeat: no-repeat;
}
.checkbox_type_one:disabled + label::before {
  background-position: -57px -5px;
  width: 16px;
  height: 16px;
}
.checkbox_type_one + label::before {
  background-position: -5px -5px;
  width: 16px;
  height: 16px;
}
.checkbox_type_one:checked + label::before {
  background-position: -31px -5px;
  width: 16px;
  height: 16px;
}
.radio_type_one:disabled + label::before {
  background-position: -135px -5px;
  width: 16px;
  height: 16px;
}
.radio_type_one:checked + label::before {
  background-position: -109px -5px;
  width: 16px;
  height: 16px;
}
.radio_type_one + label::before {
  background-position: -83px -5px;
  width: 16px;
  height: 16px;
}
.checkbox_type_two + label::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 5px;
  height: 16px;
  width: 30px;
  left: 0;
  border-radius: 10px;
  margin: 0 5px 0 0;
  background-color: #eaeaea;
  background-repeat: no-repeat;
}
.checkbox_type_two + label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 5px;
  height: 14px;
  width: 14px;
  left: 0;
  border-radius: 10px;
  margin: 0 5px 0 0;
  border: 1px solid #eaeaea;
  background-color: #fff;
  background-repeat: no-repeat;
}
.checkbox_type_two:checked + label::before {
  background-color: #a0d468;
}
.checkbox_type_two:checked + label::after {
  left: 14px;
}
.checkbox_type_two + label {
  margin-left: 35px;
}
.checkbox_type_two:disabled + label::after {
  background-color: #f8f8f8;
}
input[disabled="disabled"] + .label-checkbox--disabled {
  color: #d8dadc;
}
/***************************
************Forms***********
***************************/
form {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
form input.input--txt {
  border: solid 1px #eaeaea;
  border-radius: 5px;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  font-weight: normal;
  min-width: 80%;
  outline: none;
}
form .input {
  position: relative;
}
form .input.input__sucess:before {
  font-family: 'FontAwesome';
  color: #cff3aa;
  position: absolute;
  left: 75%;
  top: 40%;
  content: "\f00c";
}
form .input.input__sucess input {
  border: solid 2px #cff3aa;
}
form .input.input__error:before {
  font-family: 'FontAwesome';
  color: #f2adad;
  position: absolute;
  left: 75%;
  top: 40%;
  content: "\f00d";
}
form .input.input__error input {
  border: solid 2px #f2adad;
}
form .label-checkbox {
  display: block;
  padding: 5px;
  position: relative;
}
/***************************
************Slider**********
***************************/
.slides_container {
  width: 550px;
  height: 340px;
  border-radius: 5px;
}
.slides_container slides_control {
  width: 550px;
  height: 340px;
  display: block;
}
#slides {
  position: relative;
}
.pagination {
  position: absolute;
  left: 45%;
  list-style: none;
  bottom: -9%;
}
.prev {
  position: absolute;
  left: 40%;
  bottom: -11%;
}
.next {
  position: absolute;
  left: 59%;
  bottom: -11%;
}
.pagination li {
  display: inline-block;
  margin: 0 5px;
}
.pagination li a {
  font-size: 0;
  padding: 5px;
  border-radius: 10px;
  background-color: #ffcabf;
  background-repeat: no-repeat;
}
.pagination .current a {
  background-color: #fc6e51;
}
