/***************************
*********Checkbox***********
***************************/

.stitches-sprite(@x: 0, @y: 0, @width: 0, @height: 0) 
{
    background-position: @x @y;
    width: @width;
    height: @height;
}

.sprite 
{
    background-image: url(spritesheet.png);    background-repeat: no-repeat;
    display: block;

    &.sprite-check_ 
    {
        .stitches-sprite(-5px, -5px, 16px, 16px);
    }

    &.sprite-ckeck_active 
    {
        .stitches-sprite(-31px, -5px, 16px, 16px);
    }

    &.sprite-ckeck_disabled 
    {
        .stitches-sprite(-57px, -5px, 16px, 16px);
    }

    &.sprite-radio_ 
    {
        .stitches-sprite(-83px, -5px, 16px, 16px);
    }

    &.sprite-radio_active 
    {
        .stitches-sprite(-109px, -5px, 16px, 16px);
    }

    &.sprite-radio_disabled 
    {
        .stitches-sprite(-135px, -5px, 16px, 16px);
    }
}

input[type="checkbox"],
input[type="radio"] {
    display:none;            
}
input[type="checkbox"] + label, 
input[type="radio"] + label {
  font: 18px bold;
  color: #444;
  cursor: pointer;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 5px 0 0;
    background-image: url(img/checkbox/1.jpg);
    background-repeat: no-repeat;
}
input[type="checkbox"] + label::before {
    background-position: -38px -260px;    
}
input[type="radio"] + label::before {
    background-position: 0px -279px;
}
input[type="checkbox"]:checked + label::before {
    background-position: -114px -260px;
}
input[type="radio"]:checked + label::before {
    background-position: -108px -279px;
}
input[type="checkbox"]:disabled + label::before {
    background-position: -152px -260px;
}
input[type="checkbox"]:checked:disabled + label::before {
    background-position: -171px -260px;
}
input[type="radio"]:disabled + label::before {
    background-position: -144px -279px;
}

