/***************************
********Scafolding**********
***************************/
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ui-kit-section
{
	margin-top: 80px;	
	&--first
	{
		margin-top: 25px;	
	}
}

.background_sample
{
  background-color: #fff;  
  padding: 20px 10px;
  border-radius: 5px;
  margin-bottom: 35px;
}

.background_sample--tall
{
  min-height: 120px;
}